* {
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color:rgb(255,255,255) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color:rgb(89,85,179) ;
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight:900 ;
    width: fit-content;
    height: 40px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color:rgb(39, 22, 189);
    border: 1px solid ;
}

heading {
    padding-left: 15px;
    margin-top: 30%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

nav .logo {
    padding-top: 60%;
    font-weight: 700;
    font-size: 25px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

nav ul li:hover {
    text-decoration:underline;
    font-weight: 900;
}

section {
    display: flex;
    margin-left: 10%;
    margin-bottom: 5%;
}

h1 {
    font-size: xxx-large;
    font-family: 'Poppins', sans-serif;
    color:#3c2e60;
    justify-content: space-around;
}

section div {
    justify-content: space-around;
    padding-left: 2%;
    margin-left: 5%;
} 

section div img {
    height: 400px;
    width: 600px;
    gap: 10%;
}